.container {
  width: 1200px; }

#top-nav {
  background: #272a31; }

#bottom-nav a {
  color: #272a31;
  font-weight: 700; }
  #bottom-nav a:hover {
    color: #ec5242; }

.logo {
  width: 50px;
  height: 50px; }

.showcase {
  background: url("../img/scott-graham-5fNmWej4tAA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 540px; }
  .showcase .dark-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    min-height: 540px;
    left: 0; }
  .showcase h3 {
    color: #ec5242; }
  .showcase:hover {
    color: #ec5242; }

.tutorials-section {
  background: #d3d3d3; }
  .tutorials-section ul {
    list-style: none; }
  .tutorials-section .card {
    background: #272a31; }
    .tutorials-section .card:hover {
      border: 3px solid #ec5242; }
    .tutorials-section .card .fab {
      color: #ec5242; }
    .tutorials-section .card .card-title {
      color: #ec5242;
      font-weight: 500;
      font-size: 18px; }
    .tutorials-section .card .card-text {
      color: #d3d3d3; }
    .tutorials-section .card .tut-link {
      color: #272a31; }
      .tutorials-section .card .tut-link .line {
        background: #ec5242; }

.instructors-section {
  background: #272a31;
  color: #d3d3d3; }
  .instructors-section img {
    height: 75%;
    width: 180px;
    left: 18px; }
  .instructors-section .media-body small {
    color: #ec5242; }
