.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

@media (max-width: 767px) {

  .showcase {
    min-height: 500px;

    .dark-overlay {
      min-height: 500px;
    }
  }

  .students {
    flex-direction: column; 
  }

}

@media (max-width:576px) {

  .showcase {
    min-height: 400px;

    .dark-overlay {
      min-height: 400px;
    }

    .showcase-content {

      h5 {
        font-size: 20px;
      }

      .about-p {
        font-size: 12px;
    }

    }  
    
  }

  .footer-bottom {

    p {
      display: none;
    }
  }

 }

.ticket-showcase {

  h1,
  .border-line,
  .about-line {
    display: none;
  }

  table {
    font-size: 12px;
  }
}

