$dark-shade: #272a31;
$lighter: #d3d3d3;
$basic-color: #ec5242;
$max-width: 1200px;

.container {
    width: $max-width;
}

#top-nav {
    background: $dark-shade;
}

#bottom-nav {
    a {
        color: $dark-shade;
        font-weight: 700;
        &:hover {
            color: $basic-color;
        }
    }
}

.logo {
    width: 50px;
    height: 50px;
}

.showcase {
    background: url('../img/scott-graham-5fNmWej4tAA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 530px;

    .dark-overlay {
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        min-height: 530px;
        left: 0;
    }

    h3 {
        color: $basic-color;
    }

     &:hover {
        color: $basic-color;
    }
}

.tutorials-section {
    background: $lighter;

    ul {
        list-style: none;
    }

    .card {
        background: $dark-shade;

        &:hover {
            border: 3px solid $basic-color;
        }

        .fab {
            color: $basic-color;
        }

        .card-title {
            color: $basic-color;
            font-weight: 500;
            font-size: 18px;
        }

        .card-text {
            color: $lighter;
        }

        .tut-link {
            color: $dark-shade;
        }
    }


}



